* {
  box-sizing: content-box;
}
.links{
  margin:20px;
  color:white;
  text-decoration:none;
}
.intro{
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
}
.school{
  font-family: 'Stint Ultra Condensed', cursive;
  font-size:200%;
  color:red;
}
.year{
  font-family: 'Roboto Mono', monospace;
  color:orangered;
  font-weight:900;
}
body{
    background:url("https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=667&q=80")	no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
}
